@import "/source/css/mobile/reset.css";
pre {
  white-space: pre-wrap;
  /* Chrome & Safari */
  white-space: -moz-pre-wrap;
  /* Mozilla since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
table {
  height: 100%;
  width: 100%;
}
body {
  overflow-y: scroll;
}
a {
  outline: none !important;
}
a:hover,
a:focus,
a:active {
  outline: none !important;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none;
}
.b-table {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.b-table-row {
  display: table-row;
  width: 100%;
  height: 100%;
}
.b-table-cell {
  display: table-cell;
  height: 100%;
  vertical-align: top;
}
.i-center-td {
  text-align: center !important;
  vertical-align: middle !important;
}
.i-middle-td {
  vertical-align: middle !important;
}
/******************b-loading-ajax**************/
#ajax-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10000;
  display: none;
}
#loading-ajax {
  z-index: 999999;
  position: fixed;
  left: 50px;
  bottom: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-image: url("/source/images/ajax-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
  display: none;
  text-indent: 99999px;
  overflow: hidden;
}
.b-loading-ajax_status_ready {
  display: none;
}
.b-loading-ajax_status_loading {
  display: block !important;
}
.b-loading-ajax_center {
  left: 50% !important;
  bottom: auto !important;
  top: 50%;
}
/******************END b-loading-ajax**************/
.m-layout {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.m-layout__body {
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.m-layout__menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
  background: #577411;
  -webkit-overflow-scrolling: touch;
}
.m-layout__menu {
  overflow-y: scroll;
  width: 260px;
  max-height: 100%;
  background-color: #577411;
}
.m-layout__main {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 65px;
  -o-transition: -o-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform .3s;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.m-layout__main_menu-open {
  -webkit-transform: translateX(260px);
  -ms-transform: translateX(260px);
  -o-transform: translateX(260px);
  transform: translateX(260px);
}
.m-layout__overlay {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  content: '';
}
.m-layout__overlay_shown {
  display: block;
}
.m-menu {
  z-index: 7;
  height: 50px;
  margin-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #698c15;
}
.m-menu_fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 888;
}
.m-layout__padding_menu-fixed {
  padding-top: 50px;
}
.m-menu .b-table {
  height: 50px;
  vertical-align: middle;
  text-align: center;
}
.m-menu .b-table .b-table-cell:first-child {
  width: 50px;
  vertical-align: middle;
  text-align: center;
}
.m-menu .b-table .b-table-cell:last-child {
  width: 10px;
  vertical-align: middle;
}
.m-menu__button {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 30px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 40px;
  height: 30px;
  padding-left: 4px;
  color: #fff;
  border-radius: 5px;
  background: none 5px center no-repeat #78982d;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAOCAQAAABwM3/LAAAAbklEQVR4AZXQQQqBYRQF0Fd+GxBlICtRSlmVoqRYl7IRRRaBQ5n9E9+9d/BGZ3Bf9eNvqteAzB0MVUt/p3PBKSFHXI3aydrb00K1kqkHNsn8iTt2CSkrr2+XKpm/x804IQPn9MllZqvLSAXzc/IBwi3PEm92zbsAAAAASUVORK5CYII=');
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyNSAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+PHRpdGxlPm1lbnUtMy1saW5lczwvdGl0bGU+PGcgc2tldGNoOnR5cGU9Ik1TUGFnZSIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI2ZmZiIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCIgZD0iTTggMGgxN3YyaC0xN3oiLz48cGF0aCBmaWxsPSIjZmZmIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIiBkPSJNOCA2aDE3djJoLTE3eiIvPjxwYXRoIGZpbGw9IiNmZmYiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiIGQ9Ik04IDEyaDE3djJoLTE3eiIvPjxwYXRoIGQ9Ik00Ljk3IDIuNzk5bC0zLjA5MSA0LjE4OSAzLjA5MSA0LjE4OSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHNrZXRjaDp0eXBlPSJNU1NoYXBlR3JvdXAiLz48L2c+PC9zdmc+'), none;
}
.m-menu__button_absolute {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
}
.m-menu__layout {
  padding-left: 60px;
}
